<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.etm.checkseries">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_checkseries"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".utils.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".utils.WidgetProviderComingSoon">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_configure" />
        </receiver>


        <activity android:name=".views.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@mipmap/ic_checkseries"
            android:label="@string/app_name" />

        <activity
            android:name=".views.HistoricActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@mipmap/ic_checkseries"
            android:label="@string/app_historic" />

        <activity
            android:name=".views.NewSerieActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_act_newserie"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".views.SerieActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name_serie"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".views.SeasonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_act_season"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".views.ListEpisodesSeasonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_act_episodes_season"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".views.ConfigurationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_act_configuration"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".views.SeriesListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_act_serieslist"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".views.CommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_act_serieslist"
            android:theme="@style/AppTheme"/>


        <receiver android:name=".utils.NotificationPublisher" />

    </application>

</manifest>